<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>MooseX-Declare</string>
	<key>uuid</key>
	<string>7272DD18-1935-45D4-ADB0-28D33D7B0FAA</string>
</dict>
</plist>
